:root {
  --bg-white: #fff;
  --bg-Mercury: #e3e4f1;
  --bg-OsloGrey: #908f8f;
  --bg--GreyGoose: #D1D2DA;
  --bg-DodgerBlue: #3a7cfd;
  --bg-MulledWine: #494c6b;
  --bg-MountainMist: #9495a5;
  --bg-JasminePurple: #ac2deb;
  --bg-CornflowerBlue: #5596ff;
  --font-JosefinSans: "Josefin Sans";
  /* Dark theme */
  --bg-dark: #171823;
  --input-dark: #25273D;
  --text-dark: #767992;
  --chckbox-dark: #393A4B;
  --todo-text-dark: #C8CBE7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E3E4F1;
}

.lists {
  width: 540px;
  height: 40px;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #494C6B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header .background .background_photo {
  height: 42vh;
  width: 100%;
  opacity: 0.8;
  background: linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
}
header .background .background_photo img {
  width: 100%;
}

main .todoList {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .todoList .shapeIcon {
  position: absolute;
  display: flex;
  width: 100%;
  top: -20%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  cursor: pointer;
}
main .todoList .shapeIcon h2 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 15px;
}
main .todoList .listHead form {
  height: 100%;
}
main .todoList .listHead form input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px 11px;
}
main .todoList .listBody {
  width: 560px;
  margin-top: 30px;
  overflow-y: scroll;
  border-radius: 5px 5px 0 0;
  height: 240px;
  background-color: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
main .todoList .listBody .addedInputs .listsUl .addedList {
  width: 530px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 11px;
}
main .todoList .listBody .addedInputs .listsUl .addedList .addedList_checkbox {
  display: flex;
  align-items: center;
  gap: 25px;
}
main .todoList .listBody .addedInputs .listsUl .addedList .addedList_checkbox .name.checked {
  text-decoration: line-through !important;
}
main .todoList .listBody .addedInputs .listsUl .addedList .addedList_checkbox input[type=checkbox] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 15px;
}
main .todoList .listBody .addedInputs .listsUl .addedList .addedList_checkbox input[type=checkbox]:checked {
  background: url("../img/checked_svg.svg");
}
main .todoList .listBody .addedInputs .listsUl .addedList .otherBtns button {
  background-color: #9495A5;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: #fff;
}
main .todoList .editButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
}
main .todoList .editButtons .leftItems {
  color: #9495A5;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #fff;
  border: none;
  letter-spacing: -0.194px;
}
main .todoList .editButtons .statusItems button {
  color: #9495A5;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
  background-color: #fff;
  border: none;
  padding: 3px;
}
main .todoList .editButtons .clearItems button {
  color: #9495A5;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
  background-color: #fff;
  border: none;
}
main .todoList .drag-drop {
  color: #9495A5;
  position: relative;
  left: 190px;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
  margin-top: 50px;
}/*# sourceMappingURL=main.css.map */